/* Yleiset */

@font-face {
    font-family: Special;
    src: url("http://igem-qsf.github.io/igem-wiki/fonts/HORSEPUKE.TTF") format("truetype");
}

a:link, a:visited, a:active, .right-menu li a {
  color: #0AA699;
  text-decoration: none !important;
}

a:hover {
  color: #90F0E8;
}

body {
  color: black;
  min-height: 85vh;
  background-color: white;
  margin: 0;
  padding: 0;
}

article {
  padding-top: 5px;
  padding-bottom: 5vh;
  padding-left: 15vw;
  padding-right: 15vw;
  min-height: 50vh;
  font-size: 16px;
}

.link {
  padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
  border-bottom: none;
}

h2 {
  font-size: 38px;
  padding-bottom: 30px;
  text-align: center;
}

#bodyContent h1, #bodyContent h2 {
  margin-bottom: 0;
}

.omalogo {
  width: 100%;
}

blockquote {
  font-family: "Helvetica Neue", serif;
  font-size: 24px;
  font-style: italic;
  line-height: 2;
  position: relative;
  padding: 0 0 0 80px;
  margin: 60px -20px 60px 0;
  border-left: none;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 200px;
  position: absolute;
  left: -30px;
  top: -115px;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

/* Yleiset päättyy */


/* Row-, col- ja img -säädöt */

.row {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0px 0px;
  padding: 0px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bg {
  background-size: cover;
  overflow: hidden;
}

.text-col-right {
  padding-left: 20px;
}

.text-col-left {
  padding-right: 20px;
}

.img-100 .img-responsive {
  width: 100%;
}

.kuvateksti {
  font-size: small;
  margin-top: 10px;
  margin-bottom: 40px;
}

.img-center {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.img-center .img-responsive {
  display: inline;
}

.feat {
  opacity: 0.95;
}

.feat:hover {
  opacity: 1.0;
}

.feattext-container-tall {
  display: table;
  min-height: 400px;
  min-height: 50vh;
}

.feattext-container-wide {
  display: table;
  min-height: 200px;
  min-height: 30vh;
}

.feattext-cell {
  display: table-cell;
  vertical-align: bottom;
}

.feattext-p {
  background-color: rgba(255, 255, 255, 0.3);
  margin: -5px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: white;
}

@media only screen and (min-width : 992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .feat-left{
    margin-right: 5px;
  }

  .feat-center {
    margin-right: 5px;
    margin-left: 5px;
  }

  .feat-right {
    margin-left: 5px;
  }

}

@media only screen and (min-width : 992px) {

}

/* Row-, col- ja img-säädöt loppu */


/* Header- ja pikkuvalikkojutut */

.navbar{
  margin-top: 0;
}

header {
  color: white;
  font-size: large;
}

header a {
  padding-right: 1vw;
  padding-left: 1vw;
}

header a.active, .extrabar a.active {
  color:black;
}

header .navbar, .extrabar {
  background-color:rgba(255,255,255,0.8);
  border:0px;
  border-radius: 0;
}

header .navbar {
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: 30px;
  border-radius: 0px;
}

.extrabar {
  width:100%;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;
  min-height: 20px;
  border-radius: 0px;
  z-index:1;
}

.extrabar a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.affix {
  top: 45px;
  width: 100%;
}

.affix-top {
  float:left;
  visibility: hidden;
}

/* Header päättyy */


/* Pakolliset pikku valikot */

#top-section {
  height: 0px;
  border: none;
  width: 0px;
  margin: 0 auto;
  padding: 0 0 0 0;
  background-color: transparent;
  overflow: hide;
  position: initial;
}

#menubar {
  top: 0px;
  font-size: x-small;
}

#menubar, #menubar a {
  color: #0AA699;
}

#menubar, #menubar a:hover {
  color: #90F0E8;
}

#menubar:hover, #menubar li a {
  background-color: transparent;
}

/* Pakolliset pikku valikot päättyy */


/* Splashien yhteiset tyylit */

.splash{
  display: table;
  height: 100vh;
  width: 100%;
  background-image: url('http://aaltohelsinki.com/img/12.jpg');
  background-size: cover;
  color: white;
  margin-top: -10px;
  padding-top: 10vh;
  padding-bottom: 5vh;
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: center;
}

.splash h1 {
  font-size: 100px;
}

.textinsplash {
  display: table-cell;
  vertical-align: middle;
}

.textinsplash > p {
  font-size: large;
  font-style: italic;
}

/* Splash-tyylittelyt loppu */


/* Erillisten sivujen tyylit*/

#mainsplash {
  background-image: url('http://aaltohelsinki.com/img/12.jpg');
}

#softwaresplash {
  background-color: black;
  background-image: none;
/*  background-image: url('http://2014.igem.org/wiki/images/7/7f/Aalto-Helsinki-Software-placeholder.png'); */
}

#researchsplash {
  background-image: url('http://2014.igem.org/wiki/images/1/13/Aalto-Helsinki-Research-Placeholder.png');
}

/* Erillisten sivujen tyylit loppu */


/* Articlejen backgroundit */

.turqu {
  background-color: #0AA699;
}

.turqu a, .green a {
  color: white;
}

/*

.white {
  background-color: white;
}

.black {
  background-color: black;
  color:white;
}

.green {
  background-color: #399f70;
}

.plum {
  background-color:#B00C69;
}

.PCB {
  background-color: gray;
}
*/

/* Articlejen backgroundit loppu */


/* BG (Kuvataustat) */

.bg-test {
  background-image: url('http://2014.igem.org/wiki/images/e/ec/Aalto_Helsinki_Placeholderpicture.jpg');
}

/* BG (Kuvataustat) loppu */


/* Footerin tyylit */

footer {
  text-align: center;
  background: white;
}

#logorow {
  padding: 100px;
}

.footerimg {
  max-height: 100px;
  max-width: 250px;
}

.footerlogo {
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
}

.footerlogo:hover .on, .footerlogo .off {
  display:none;
}

.footerlogo:hover .off {
  display:block;
}

/* Footerin tyylit loppu */