/* Yleiset */

@font-face {
  font-family: TMHUA;
  src: url("http://igem-qsf.github.io/igem-wiki/fonts/ThrowMyHandsUpintheAir.ttf") format('truetype');
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "TMHUA", Helvetica, sans-serif;
}

a:link, a:visited, a:active, .right-menu li a {
  color: #0AA699;
  text-decoration: none !important;
}

a:hover {
  color: #90F0E8;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

ul {
  list-style-image: none;
}

.cpright {
  text-align: right;
  padding-right: 1em;
}

@media only screen and (min-width : 992px) {
  article {
    padding-top: 5px;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 16px;
  }

  .memberrow > .col-md-8 {
    padding-top: 100px;
  }
}

.link {
  padding-top: 50px;
}

.paddingtop {
  padding-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
  border-bottom: none;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 2.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small,
.h6 small, h1 .small, h2 .small, h3 .small, h4 .small,
h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small,
.h4 .small, .h5 .small, .h6 .small {
  line-height: inherit;
  color: rgba(100, 153, 148, 1);
}

#bodyContent h1, #bodyContent h2 {
  margin-bottom: 0;
}

blockquote {
  font-style: italic;
  position: relative;
  border-left: none;
  line-height: 1.8;
  font-size: 1.3em;
  padding: 0 0 0 120px;
  margin: 2em 0 2em 0;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 200px;
  position: absolute;
  left: 0;
  top: -115px;
}

blockquote cite {
  color: rgba(51, 97, 93, 1);
  font-size: 0.6em;
  display: block;
  margin-top: 0.5em;
}

blockquote cite:before {
  content: "\2014 \2009";
}

/* Yleiset päättyy */


/* Header- ja pikkuvalikkojutut */

.navbar{
  margin-top: 0;
}

header {
  color: white;
  font-size: large;
}

@media only screen and (min-width : 992px) {
  header a {
    padding-right: 1vw;
    padding-left: 1vw;
  }
}

header a.active, .extrabar a.active {
  color:black;
}

header .navbar, .extrabar {
  background-color:rgba(255,255,255,0.8);
  border:0px;
  border-radius: 0;
}

header .navbar {
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: 30px;
  border-radius: 0px;
}

.extrabar {
  width:100%;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;
  min-height: 20px;
  border-radius: 0px;
  z-index:1;
}

.extrabar a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.affix {
  top: 45px;
  width: 100%;
}

.affix-top {
  float:left;
  visibility: hidden;
}

/* Header päättyy */


/* Pakolliset pikku valikot ja parts*/

#top-section {
  height: 0;
  width: 100%;
  left: 0;
  border: none;
  margin: 0 auto;
  padding: 0 0 0 0;
  background-color: transparent;
  position: absolute;
}

#menubar {
  top: 0px;
  font-size: x-small;
}

#menubar, #menubar a {
  color: #0AA699;
}

#menubar, #menubar a:hover {
  color: #90F0E8;
}

#menubar:hover, #menubar li a {
  background-color: transparent;
}

#groupparts {
  min-height: 0;
  min-width: 0;
}

/* Pakolliset pikku valikot ja parts päättyy */


/* Kuvien ja rivien asettelua */

.row {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 1em 0;
  padding: 0;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  padding: 0;
}

.col-md-2 h3, .col-md-4 h3, .col-md-6 h3, .col-md-8 h3,
.col-md-2 h4, .col-md-4 h4, .col-md-6 h4, .col-md-8 h4,
.col-md-2 h5, .col-md-4 h5, .col-md-6 h5, .col-md-8 h5 {
  margin-top: 0em;
}

.memberrow {
  margin-top: 2em;
  margin-bottom: 2em;
}

.margintop {
  margin-top: 2em;
}

.text-col-right {
  padding-left: 1em;
}

.text-col-left {
  padding-right: 1em;
}

.img-100 .img-responsive {
  width: 100%;
}

.kuvateksti {
  font-size: small;
  margin-top: 1em;
  margin-bottom: 3em;
}

.img-center {
  text-align: center;
  margin-top: 2em;
}

.img-center .img-responsive {
  display: inline;
}

.bg {
  background-size: cover;
  overflow: hidden;
}

/* Featured */
.feat {
  opacity: 0.95;
}

.feat:hover {
  opacity: 1.0;
}

.feattext-container-tall {
  display: table;
  height: 400px;
  width: 100%;
}

.feattext-container-wide {
  display: table;
  height: 300px;
  width: 100%;
}

.feattext-cell {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
}

.feattext-p {
  background-color: rgba(95, 95, 95, 0.42);
  margin-bottom: -0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: white;
  width: 100%;
}

@media only screen and (min-width : 992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .feat-left{
    margin-right: 0.5em;
  }

  .feat-center {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  .feat-right {
    margin-left: 0.5em;
  }

}

/* Kuvien ja rivien asettelu loppu */


/* Splashit */

.splash{
  width: 100%;
  color: white;
  margin-top: -14px;
  text-align: center;
  background-size: cover;
}

.bigsplashtext {
  font-size: 1.4em;
  margin: 0 10px;
}

.splashalavalikko {
  text-align: left;
  padding: 80px 40px;
  font-size: 1.5em;
  line-height: 1.5;
}

.splashalavalikko a {
  color: white;
  opacity: 0.7;
}

.splashalavalikko a:hover {
  opacity: 1;
}

.scroller {
  padding-bottom: 40px;
  padding-top: 10px;
}

.transp {
  opacity: 0.7;
}

.transp:hover {
  opacity: 1;
}

.scrolldown {
  text-align: center;
}

.transp a {
  color: white;
  opacity: 0.7;
}

.transp a:hover {
  opacity: 1;
}

.nuoli {
  max-height: 50px;
}

.igem-logo {
  width: 100px;
  margin-top: 60px;
  right: 100px;
  margin-right: 40px;
  float: right;
  opacity: 0.7;
}

.igem-logo:hover {
  opacity: 1;
}

.omalogo {
  width: 100%;
  padding-bottom: 1em;
}

.omalogot {
  width: 60%;
  padding-top: 1em;
}

@media only screen and (max-width : 992px) {

  .splash {
    min-height: 700px;
    width: 100%;
    color: white;
    text-align: center;
  }

  .igem-logo {
    margin-top: 80px;
  }

  .splashcopyright {
    text-align: right;
    padding: 60px 40px;
  }

  h1 {
    font-size: 3.5em;
  }

  #mainsplash {
    background-image: url('http://2014.igem.org/wiki/images/5/5a/Aalto_Helsinki_Splashs_Main.jpg');
  }

  #teamsplash {
    background-image: url('http://2014.igem.org/wiki/images/7/75/Aalto_Helsinki_Splashs_Team.jpg');
  }

  #businesssplash {
    background-image: url('http://2014.igem.org/wiki/images/3/3f/Aalto_Helsinki_Splashs_Business.jpg');
  }

  #researchsplash {
    background-image: url('http://2014.igem.org/wiki/images/4/4a/Aalto_Helsinki_Splashs_Research.jpg');
  }

  #modelingsplash {
    background-image: url('http://2014.igem.org/wiki/images/7/7d/Aalto_Helsinki_Splashs_Modeling.jpg');
  }

  #cooperationsplash {
    background-image: url('http://2014.igem.org/wiki/images/9/9e/Aalto_Helsinki_Splashs_Cooperation.jpg');
  }

  #outreachsplash {
    background-image: url('http://2014.igem.org/wiki/images/4/45/Aalto_Helsinki_Splashs_Outreach.jpg');
  }

  #journalsplash {
    background-image: url('http://2014.igem.org/wiki/images/2/2d/Aalto_Helsinki_Splashs_Journal.jpg');
  }

}

@media only screen and (min-width : 992px) {

  .splash {
    position: relative;
    min-height: 820px;
  }

  .splashesittely {
    min-height: 400px;
  }

  .splashalavalikko {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .splashcopyright {
    font-size: small;
    padding: 60px 40px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  #mainsplash {
    background-image: url('http://2014.igem.org/wiki/images/6/60/Aalto_Helsinki_Splash_Main.jpg');
  }

  #teamsplash {
    background-image: url('http://2014.igem.org/wiki/images/f/f1/Aalto_Helsinki_Splash_Team.jpg');
  }

  #businesssplash {
    background-image: url('http://2014.igem.org/wiki/images/8/80/Aalto_Helsinki_Splash_Business.jpg');
  }

  #researchsplash {
    background-image: url('http://2014.igem.org/wiki/images/c/cb/Aalto_Helsinki_Splash_Research.jpg');
  }

  #modelingsplash {
    background-image: url('http://2014.igem.org/wiki/images/7/73/Aalto_Helsinki_Splash_Modeling.jpg');
  }

  #cooperationsplash {
    background-image: url('http://2014.igem.org/wiki/images/f/f5/Aalto_Helsinki_Splash_Cooperation.jpg');
  }

  #outreachsplash {
    background-image: url('http://2014.igem.org/wiki/images/e/e3/Aalto_Helsinki_Splash_Outreach.jpg');
  }

  #journalsplash {
    background-image: url('http://2014.igem.org/wiki/images/8/82/Aalto_Helsinki_Splash_Journal.jpg');
  }

}

@media only screen and (min-width : 1472px) {
  .splash {
    min-height: 1030px;
  }
}



/* Splash-tyylittelyt loppu */


/* SIVUJEN OMIA tyylejä */

.sponsorrow {
  align-items: center;
  margin: 20px 0;
}

.sponsorrow .col-md-4 {
  padding: 10px;
  text-align: -webkit-center;
  text-align: -moz-center
}

.sponsorlogo {
  max-height: 150px;
}

/* SIVUJEN OMAT tyylit loppu */


/* Articlejen backgroundit */

.turqu {
  background-color: #0AA699;
}

.turqu a, .green a {
  color: white;
}

/* Articlejen backgroundit loppu */


/* BG (Kuvataustat) */

.bg-test {
  background-image: url('http://2014.igem.org/wiki/images/e/ec/Aalto_Helsinki_Placeholderpicture.jpg');
}

.bg-bbseeker {
  background-image: url('http://2014.igem.org/wiki/images/c/c1/Aalto_Helsinki_Feat_BBSeeker.png');
}


.bg-team {
  background-image: url('http://2014.igem.org/wiki/images/a/a3/Aalto_Helsinki_Feat_Team.jpg');
}

.bg-business {
  background-image: url('http://2014.igem.org/wiki/images/e/e6/Aalto_Helsinki_Feat_Business.jpg');
}

.bg-research {
  background-image: url('http://2014.igem.org/wiki/images/7/7c/Aalto_Helsinki_Feat_Research.jpg');
}

.bg-modeling {
  background-image: url('http://2014.igem.org/wiki/images/1/17/Aalto_Helsinki_Feat_Modeling.jpg');
}

.bg-cooperation {
  background-image: url('http://2014.igem.org/wiki/images/f/f7/Aalto_Helsinki_Feat_Cooperation.jpg');
}

.bg-outreach {
  background-image: url('http://2014.igem.org/wiki/images/5/5e/Aalto_Helsinki_Feat_Outreach.jpg');
}

.bg-journal {
  background-image: url('http://2014.igem.org/wiki/images/c/c5/Aalto_Helsinki_Feat_Journal.jpg');
}

/* BG (Kuvataustat) loppu */


/* Footerin tyylit */

footer {
  text-align: center;
  background: white;
}

#logorow {
  padding: 2em;
}

.footerimg {
  max-height: 100px;
  max-width: 250px;
}

.footerlogo {
  display: inline-block;
  vertical-align: middle;
  padding: 1.5em;
}

.footerlogo:hover .on, .footerlogo .off {
  display:none;
}

.footerlogo:hover .off {
  display:block;
}

#yhteystiedot {
  text-align: center;
  font-size: small;
  padding: 0.5em;
}

/* Footerin tyylit loppu */


/* Padit ja puhelimet */

@media only screen and (max-width : 992px) {


  /* Yleiset */

  .bodyContent {
    padding-top: 5em;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
  .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    margin-top: 1em;
    padding: 0;
  }

  article {
    padding: 5em 1em;
    min-height: 50px;
    font-size: 16px;
  }

  .row {
    margin: 0;
  }


  /* Headerit sun muut */
  #navigation {
    padding: 0;
  }

  #menubar {
    font-family: inherit;
    white-space: normal;
    width: 300px;
    z-index: 1;
  }

  .left-menu {
    margin-top: 60px;
    left: 0;
    text-align: left;
  }

  .left-menu ul {
    margin-right: 0.2em;
  }

  .left-menu li a {
    padding: 0px 2px 0px 2px
  }

  .right-menu {
    margin-top: 60px;
    right: 0;
    text-align: right;
  }


  .right-menu ul {
    margin-right: 0.2em;
  }

  .right-menu li a {
    padding: 0 2px 0 2px;
  }

  li#pt-userpage, li#pt-anonuserpage, li#pt-login {
    padding-left: 0;
  }

  header .navbar {
    font-size: 16px;
    border-radius: 0px;
    padding: 0.5em 0;
  }

  header a {
    padding-right: 0.2em;
    padding-left: 0.2em;
  }

  .affix-top, .affix, .extrabar a, .extrabar {
    display: none;
  }

  #logorow {
    padding: none;
  }

  .footerlogo {
    padding: 1.5em 0em
  }


  /* Muut */
  .mobile-hide {
    display: none;
  }

}

/* Padit ja puhelimet loppu */